<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="requests.css">
    <title>ONAAPH Access</title>
</head>
<body> 
    <!-- HEADER NAVBAR -->
    <header id="home"> 
      <nav class="fade-in">
        
          <div class="logo fade-in">
              <img src="../../../public/images/shared/logo.png" alt="Logo" loading="lazy">
          </div>
          <div class="menu fade-in">
              <a href="requests.html" class="active">Requests</a>
              <a href="../tools/tools.html">Tools</a>
              <a href="../users/users.html">Users</a>
              <a href="../messages/msg_list.html">Messages</a>
              <a href="../appointment/appointment.html" >Appointment</a>
                       
          </div>
          <div class="logOut">
                <a href="#" id="logout-btn">LogOut</a>
            </div>
      </nav>
  </header>

    <main>
        <h1>Requests </h1>
        <section class="dashboard">
           
            <label for="filter">Filter by disability type:</label>
            <select id="filter">
                <option value="all">All</option>
                <option value="motor">Motor</option>
                <option value="visual">Visual</option>
                <option value="hearing">Hearing</option>
            </select>
            
            
            <table>
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Tool</th>
                        <th>User info</th>
                        <th>Disability Type</th>
                        <th>Disability Percentage</th>
                        <th>Last take</th>
                        <th>Action detail</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>  <img src="../../../public/images/shared/manual-wheelchair.jpg" alt="pic" class="tool-img"> </td>
                        <td>Text</td>
                        <td> Siham Merzouk </td>
                        <td>Motor</td>
                        <td>100%</td>
                        <td>2024-11-05</td>
                        <td> Date or cause</td>
                        <td>
                            <button class="btn-accept">Accept</button>
                            <button class="btn-refuse"> Refuse</button>
                        </td>
                    </tr>
                    <tr>
                        <td> <img src="../../../public/images/shared/emercengy-call-button.jpg" alt="pic" class="tool-img"> </td>
                        <td>Text</td>
                        <td> Nahla nahla </td>
                        <td> Hearing</td>
                        <td>100%</td>
                        <td>2024-11-05</td>
                        <td> Date or cause</td>
                        <td>
                            <button class="btn-accept">Accept</button>
                            <button class="btn-refuse"> Refuse</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script src="../../../public/js/admin/request.js"></script>
    
    

</body>
</html>
