<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tools.css">
    <title>ONAAPH Access</title>
</head>
<body> 
    <!-- HEADER NAVBAR -->
    <header id="home"> 
      <nav class="fade-in">
          <div class="logo fade-in">
              <img src="../../../public/images/shared/logo.png" alt="Logo" loading="lazy">
          </div>
          <div class="menu fade-in">
              <a href="../requests/requests.html">Requests</a>
              <a href="tools.html" class="active">Tools</a>
              <a href="../users/users.html">Users</a>
              <a href="../messages/msg_list.html">Messages</a>
              <a href="../appointment/appointment.html">Appointment</a>         
          </div>
          <div class="logOut">
              <a href="#" id="logout-btn">LogOut</a>
          </div>
          
         
      </nav>
  </header>

    <main>
        <h1>Tools </h1>
        <section class="dashboard">

            <div class="top-bar">
              <div class="filter-section">
                  <label for="filter">Filter by disability type:</label>
                  <select id="filter">
                      <option value="all">All</option>
                      <option value="motor">Motor</option>
                      <option value="visual">Visual</option>
                      <option value="hearing">Hearing</option>
                  </select>
              </div>
          
              <div class="actions-top">
                  <button class="add-newtool-btn"> +Add new tool</button>              
                  <button class="add-newneed-btn"> +Add new need</button>
              </div>
          </div>
          

            <table>
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Tool</th>
                        <th>Quantity</th>
                        <th>Disability Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <img src="../../../public/images/shared/emercengy-call-button.jpg" alt="pic" class="tool-img"> </td>
                        <td>text </td>
                        <td>10</td>
                        <td>Hearing</td>
                        <td>
                            <button class="btn-edit">✍🏻</button>
                            <button class="btn-delete">🗑️</button>
                        </td>
                    </tr>
                    <tr>
                        <td> <img src="../../../public/images/shared/manual-wheelchair.jpg" alt="pic" class="tool-img"> </td>
                        <td>text </td>
                        <td>78</td>
                        <td>Motor</td>
                        <td>
                            <button class="btn-edit">✍🏻</button>
                            <button class="btn-delete">🗑️</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <!-- Formulaire pour ajouter un outil - un besoin -->
 <div id="tool-form-modal" style="display: none;" class="modal">
    <div class="form-container">
      <h2 id="tool-form-title">Add New Tool</h2>
      <form id="tool-form">
        <label for="toolImage">Picture URL:</label>
        <input type="url" id="toolImage" name="toolImage" required>
  
        <label for="toolName">Tool Name:</label>
        <input type="text" id="toolName" name="toolName" required>
  
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1" required>
  
        <label for="toolDisabilityType">Disability Type:</label>
        <select id="toolDisabilityType" name="toolDisabilityType" required>
          <option value="motor">Motor</option>
          <option value="visual">Visual</option>
          <option value="hearing">Hearing</option>
        </select>
  
        <div class="form-actions">
          <button type="submit" id="submitTool">Save</button>
          <button type="button" id="close-tool-form">Cancel</button>
        </div>
      </form>
    </div>
  </div>

 <script src="../../../public/js/admin/tools.js"></script>
  
  
  
</body>
</html>
