<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Fiche Utilisateur</title>
  <link rel="stylesheet" href="appointment.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>

  <!-- HEADER NAVBAR -->
  <header id="home"> 
    <nav class="fade-in">
        <div class="logo fade-in">
            <img src="../../../public/images/shared/logo.png" alt="Logo" loading="lazy">
        </div>
        <div class="menu fade-in">
            <a href="../requests/requests.html">Requests</a>
            <a href="../tools/tools.html">Tools</a>
            <a href="../users/users.html">Users</a>
            <a href="../messages/msg_list.html">Messages</a>
            <a href="appointment.html" class="active">Appointment</a>         
        </div>
        <div class="logOut">
            <a href="#" id="logout-btn">LogOut</a>
        </div>
        
        <div class="mobile-menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>

 
  <!-- MAIN CONTAINER -->
  <main>
    <h1>Appointment </h1>
    
    <div class="container">
      
      <div class="card">
        <form class="user-form">
          <div class="form-row">
            <label>Full Name:</label>
            <input type="text" value="Siham Merzouk" readonly>
            <label>Phone Number:</label>
            <input type="text" value="0666666666" readonly>
          </div>
          <div class="form-row">
            <label>Email:</label>
            <input type="text" value="siham.merk@gmail.com" readonly>
            <label>Date:</label>
            <input type="text" value="01/01/2025" readonly>
          </div>
         
          <label>Note:</label>
          <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquid dicta at laborum, molestias aliquam id omnis cupiditate.</textarea>
         
          <button type="button" class="delete-btn">Delete</button>
        </form>
      </div>
      
      <div class="card">
        <form class="user-form">
          <div class="form-row">
            <label>Full Name:</label>
            <input type="text" value="Siham Merzouk" readonly>
            <label>Phone Number:</label>
            <input type="text" value="0666666666" readonly>
          </div>
          <div class="form-row">
            <label>Email:</label>
            <input type="text" value="siham.merk@gmail.com" readonly>
            <label>Date:</label>
            <input type="text" value="01/01/2025" readonly>
          </div>
         
          <label>Note:</label>
          <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquid dicta at laborum, molestias aliquam id omnis cupiditate.</textarea>
         
          <button type="button" class="delete-btn">Delete</button>
        </form>
      </div>

      <div class="card">
        <form class="user-form">
          <div class="form-row">
            <label>Full Name:</label>
            <input type="text" value="Siham Merzouk" readonly>
            <label>Phone Number:</label>
            <input type="text" value="0666666666" readonly>
          </div>
          <div class="form-row">
            <label>Email:</label>
            <input type="text" value="siham.merk@gmail.com" readonly>
            <label>Date:</label>
            <input type="text" value="01/01/2025" readonly>
          </div>
         
          <label>Note:</label>
          <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquid dicta at laborum, molestias aliquam id omnis cupiditate.</textarea>
         
          <button type="button" class="delete-btn">Delete</button>
        </form>
      </div>

      <div class="card">
        <form class="user-form">
          <div class="form-row">
            <label>Full Name:</label>
            <input type="text" value="Siham Merzouk" readonly>
            <label>Phone Number:</label>
            <input type="text" value="0666666666" readonly>
          </div>
          <div class="form-row">
            <label>Email:</label>
            <input type="text" value="siham.merk@gmail.com" readonly>
            <label>Date:</label>
            <input type="text" value="01/01/2025" readonly>
          </div>
         
          <label>Note:</label>
          <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquid dicta at laborum, molestias aliquam id omnis cupiditate.</textarea>
         
          <button type="button" class="delete-btn">Delete</button>
        </form>
      </div>

      <div class="card">
        <form class="user-form">
          <div class="form-row">
            <label>Full Name:</label>
            <input type="text" value="Siham Merzouk" readonly>
            <label>Phone Number:</label>
            <input type="text" value="0666666666" readonly>
          </div>
          <div class="form-row">
            <label>Email:</label>
            <input type="text" value="siham.merk@gmail.com" readonly>
            <label>Date:</label>
            <input type="text" value="01/01/2025" readonly>
          </div>
         
          <label>Note:</label>
          <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquid dicta at laborum, molestias aliquam id omnis cupiditate.</textarea>
         
          <button type="button" class="delete-btn">Delete</button>
        </form>
      </div>

      <div class="card">
        <form class="user-form">
          <div class="form-row">
            <label>Full Name:</label>
            <input type="text" value="Siham Merzouk" readonly>
            <label>Phone Number:</label>
            <input type="text" value="0666666666" readonly>
          </div>
          <div class="form-row">
            <label>Email:</label>
            <input type="text" value="siham.merk@gmail.com" readonly>
            <label>Date:</label>
            <input type="text" value="01/01/2025" readonly>
          </div>
         
          <label>Note:</label>
          <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquid dicta at laborum, molestias aliquam id omnis cupiditate.</textarea>
         
          <button type="button" class="delete-btn">Delete</button>
        </form>
      </div>

      <div class="card">
        <form class="user-form">
          <div class="form-row">
            <label>Full Name:</label>
            <input type="text" value="Siham Merzouk" readonly>
            <label>Phone Number:</label>
            <input type="text" value="0666666666" readonly>
          </div>
          <div class="form-row">
            <label>Email:</label>
            <input type="text" value="siham.merk@gmail.com" readonly>
            <label>Date:</label>
            <input type="text" value="01/01/2025" readonly>
          </div>
         
          <label>Note:</label>
          <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquid dicta at laborum, molestias aliquam id omnis cupiditate.</textarea>
         
          <button type="button" class="delete-btn">Delete</button>
        </form>
      </div>

      <div class="card">
        <form class="user-form">
          <div class="form-row">
            <label>Full Name:</label>
            <input type="text" value="Siham Merzouk" readonly>
            <label>Phone Number:</label>
            <input type="text" value="0666666666" readonly>
          </div>
          <div class="form-row">
            <label>Email:</label>
            <input type="text" value="siham.merk@gmail.com" readonly>
            <label>Date:</label>
            <input type="text" value="01/01/2025" readonly>
          </div>
         
          <label>Note:</label>
          <textarea readonly>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque aliquid dicta at laborum, molestias aliquam id omnis cupiditate.</textarea>
         
          <button type="button" class="delete-btn">Delete</button>
        </form>
      </div>

    </div>
  </main>

 
  <script src="appointment.js"></script>
  
</body>
</html>