<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user1page.css">
    <title>ONAAPH Access</title>
</head>
<body>
    <!-- HEADER NAVBAR -->
    <header id="home"> 
        <nav class="fade-in">
            <div class="logo fade-in">
                <img src="../../../public/images/shared/logo.png" alt="Logo" loading="lazy">
            </div>

            <div class="menu fade-in">
                <a href="../requests status/requests-status.html">Requests status</a>              
                <div class="menu-container">  
                    <a href="#" id="settings-btn">Settings</a>
                    <div id="dropdown-menu" class="dropdown">
                        <a href="../myprofile/myprofile.html">👤My profile</a>
                        <a href="#">⬅ Log out</a>
                    </div>
                </div>        
            </div>

            <div class="mobile-menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <main>
       <a href="../user tools/usertools.html" class="btn-enter"> Get needs</a>
    </main>

      
    <!-- Footer -->
    <footer id="footer">
      <div class="footer-container">
        
        <div class="footer-section">
          <div class="logo fade-in">
            <img src="../../../public/images/shared/logo.png" alt="logo" />
          </div>
          <strong>Office National D'appareillage <br> et Accessoires pour Personnes Handecapees</strong>
        </div>
        
        <div class="footer-section">
          <h3>Our Partners</h3>
          <ul>
            <li><a href="https://www.ottobock.com">Ottobock</a></li>
            <li><a href="http://www.proteor.com">Protéor</a></li>
            <li><a href="https://www.oticon.com">Oticon</a></li>
            <li><a href="https://www.coloplast.com">Coloplast</a></li>
          </ul>
        </div>
     
        <div class="footer-section">
          <h3>Contact</h3>
          <p>📍 Address: Algiers, Bouira</p>
          <p>📞 Phone: +213 123 456 789</p>
          <p>📧 Email: <a href="mailto:contact@onaaph.dz">contact@onaaph.dz</a></p>

        </div>

       
      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 ONAAPH. All rights reserved.</p>
      </div>
    </footer>



    <script src="../../../public/js/user/user1page.js"></script>
</body>
</html>